*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Font Information

2 | Playfair Display Black font-size: 60px;
3 | Playfair Display Black font-size: 36px;
4 | Roboto Regular font-size: 21px;

*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #222c2a;
}

section {
  padding: 4em 0;
}

a {
  text-decoration: none;
  color: #824936;
  font-weight: 700;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
}

.section-one {
  background: #f3eed9;
  min-height: 31.25em;
  display: flex;
  align-items: center;
}

.section-one p {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.intro__Title {
  font-size: 3rem;
  margin: 0;
  font-family: "Playfair Display", sans-serif;
}

.content__Title {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.25rem;
  color: #f3eed9;
  margin-top: 1rem;
}

.content_Text {
  font-size: 1.3125rem;
}

.title_Dark {
  color: #824936;
  margin-bottom: 1rem;
}

.section-three {
  background: #222c2a;
  color: white;
}

.section-four {
  background: #824936;
  margin-bottom: 1rem;
  color: white;
}

.signature {
  text-align: center;
  font-size: 1.0625rem;
}

@media (min-width: 800px) {
  body {
    text-align: left;
  }

  img {
    width: 100%;
  }

  .title_Dark {
    text-align: center;
  }

  .section-one p {
    text-align: center;
  }

  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 5em;
  }

  .intro__Title {
    font-size: 3.5rem;
  }
}
