*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Font Information

2 | Playfair Display Black font-size: 60px;
3 | Playfair Display Black font-size: 36px;
4 | Roboto Regular font-size: 21px;

*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  color: #222c2a;
}
